.drag-drop-inside {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}


index{
  margin: 0 auto;
}
.image_field{
text-align: center;
vertical-align: top;

}
.masthead_d-flex {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1))), url("../img/japan2.jpg");
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../img/japan2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.callout {
  padding: 15rem 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1))), url("../img/japan2.jpg");
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../img/japan2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  color: white;
}
h2{
  color: white;
}
h3{
  color: white;
}
.container{
  color: white;
}
