<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HASUI</title>
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

       <!-- Custom Fonts -->
       <link href="{% static "vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">




       <!-- Custom CSS -->
       <link href="{% static "css/stylish-port.css" %}" rel="stylesheet">
       <link href="{% static "css/stylish-portfolio.css" %}" rel="stylesheet">
       <link href="{% static "css/skin.css" %}" rel="stylesheet">
       <link href="{% static "css/layout.css" %}" rel="stylesheet">
  </head>


  <body id="page-top">





      <!-- Navigation -->

      <!-- Header -->
      <header class="masthead d-flex">
        <div class="container text-center my-auto">
          <!--<a href="{% url 'index' %}"><img src = "{%static "img/logo2.png"%}" width="200" height="50"></a> -->

          <div class="image_field">


             <h2>input&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;output</h2>
             <img src="{% static "img/house.jpg"%}"class = "input_photo" max-width="300" height="300" hspace = "20"/>

             <img src= "{% static "img/output.png"%}" class = "output_photo"  max-width="300" height="300"hspace = "20"/>

          </div>

          <h3>写真をアップロードすると浮世絵師「川瀬巴水」風の画像に変換してくれるよ！</h3>
          <h3>※アップロードする写真のサイズによっては変換に時間が掛かります。</h3>
        <h3>※アップロードした画像は「Download」ボタンからダウンロードできます</h3>
      <h3>気に入ってもらえたらSNSでシェアしてね！</h3>
          <a  href="{% url 'index' %}"><img src = "{%static "img/back2.png"%}" width = "150"></a>
        <div class="overlay"></div>
      </header>

      <!-- About -->


      <!-- Services -->
    <!--  <section class="content-section bg-primary text-white text-center" id="services">
        <div class="container">
          <div class="content-section-heading">
            <h3 class="text-secondary mb-0">Services</h3>
            <h2 class="mb-5">What We Offer</h2>
            <h3 class="mb-5">
              <em>A Free Bootstrap Theme by Start Bootstrap</em>
            </h3>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>

          </div>

        </div>
      </section>


      <section class="callout">
        <div class="container text-center">
          <h2 class="mx-auto mb-5">Welcome to
            <em>your</em>
            next website!</h2>


          <a class="btn btn-primary btn-xl" href="https://startbootstrap.com/template-overviews/stylish-portfolio/">Download Now!</a>
        </div>
      </section> -->

      <!-- Portfolio -->


      <!-- Bootstrap core JavaScript -->

      <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
      <script src="{% static "js/stylish-portfolio.min.js" %}"></script>

      <!-- Plugin JavaScript -->


      <!-- Custom scripts for this template -->







  </body>
</html>
